#update-cart #order-charges {
  margin-left: auto;
  td { text-align: right; padding-right: 1px;}
}

table#shipping_costs {
  width: 40%;
  margin-top: 2em;
  th { text-align: left; }
  th.price { width: 70px; }
}

div#estimate_shipping_costs {
  margin: 40px 0;
}

div#applying_coupon {
  float: left;
  clear: left;
}

.ajax_loader { display: none; }

